* {
    padding: 5;
    margin: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.pg {
    display: flex;
    justify-content: space-between;
    height: 755px;
    width: 1463px;
}

.prt1 {
    display: flex;
    width: 1469px;
    height: 700px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 700px;
}

.info {
    width: 50%;
    padding: 40px;
    height: 700px;

}

.block {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 550px;
    height: 80px;
}

.blocka1 {
    height: 55px;
}

.subblock1 {
    width: 160px;
    font-weight: 800;
    display: flex;
    justify-content: left;

}

input {
    width: 545px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
}

.submit {
    background-color: black;
    color: white;
}

.img {
    width: 100px;
}

.about {
    font-size: 34px;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    
}

.icon{
    size:25px;
}